<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Horários</title>
  <link rel="stylesheet" href="../styles/meses.css">
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="shortcut icon" href="./images/flaticon.png" type="image/x-icon">
</head>

<body>
  <div id="container">
    <h1>Agosto</h1>
    <div id="content">
      <div id="mensagem-erro">
        <% if (errorMessage) { %>
        <p><%= errorMessage %></p>
        <% } else if (successMessage) { %>
        <p><%= successMessage %></p>
        <% } %>
      </div>
    <div id="weekdays">
      <div>Domingo</div>
      <div>Segunda</div>
      <div>Terça</div>
      <div>Quarta</div>
      <div>Quinta</div>
      <div>Sexta</div>
      <div>Sábado</div>
    </div>
      <div id="calendar">
        <div class="day padding"></div> <!-- Espaço vazio no início do mês -->
        <div class="day padding"></div> <!-- Espaço vazio no início do mês -->
        <div class="day padding"></div> <!-- Espaço vazio no início do mês -->
        <div class="day padding"></div> <!-- Espaço vazio no início do mês -->
        <div class="day" value="01/08">1</div>
        <div class="day" value="02/08">2</div>
        <div class="day" value="03/08">3</div>
        <div class="day" value="04/08">4</div>
        <div class="day" value="05/08">5</div>
        <div class="day" value="06/08">6</div>
        <div class="day" value="07/08">7</div>
        <div class="day" value="08/08">8</div>
        <div class="day" value="09/08">9</div>
        <div class="day" value="10/08">10</div>
        <div class="day" value="11/08">11</div>
        <div class="day" value="12/08">12</div>
        <div class="day" value="13/08">13</div>
        <div class="day" value="14/08">14</div>
        <div class="day" value="15/08">15</div>
        <div class="day" value="16/08">16</div>
        <div class="day" value="17/08">17</div>
        <div class="day" value="18/08">18</div>
        <div class="day" value="19/08">19</div>
        <div class="day" value="20/08">20</div>
        <div class="day" value="21/08">21</div>
        <div class="day" value="22/08">22</div>
        <div class="day" value="23/08">23</div>
        <div class="day" value="24/08">24</div>
        <div class="day" value="25/08">25</div>
        <div class="day" value="26/08">26</div>
        <div class="day" value="27/08">27</div>
        <div class="day" value="28/08">28</div>
        <div class="day" value="29/08">29</div>
        <div class="day" value="30/08">30</div>
        <div class="day" value="31/08">31</div>
        <div class="day padding"></div> <!-- Espaço vazio no final do mês -->
      </div>
  </div>
</div>

  <div class="overlay">
    <div class="overlay-content">
      <h2>Selecione um horário</h2>
      <input type="radio" name="horario" value="12h/13h"> 12h até 13h<br>
      <input type="radio" name="horario" value="13h/14h"> 13h até 14h<br>
      <input type="radio" name="horario" value="14h/15h"> 14h até 15h<br>
      <input type="radio" name="horario" value="15h/16h"> 15h até 16h<br>
      <input type="radio" name="horario" value="16h/17h"> 16h até 17h<br>
      <input type="radio" name="horario" value="17h/18h"> 17h até 18h<br><br>
      <button id="confirmButton">Confirmar</button>
      <button id="cancelButton">Cancelar</button>
    </div>
  </div> 
</body>
</html>
<script src="../scripts/junho.js"></script>