<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../styles/estoque.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="shortcut icon" href="./images/flaticon.png" type="image/x-icon">
    <title>Atualizar estoque</title>
</head>
<body>
    <div class="container">
    <h1>Atualizar estoque</h1>

    <form action="/estoqueCadastrado" method="POST"> 
        
        <label for="nome">Equipamento:</label>
        <input type="text" name="nome" id="nome" name="nome" placeholder="Nome do equipamento" required><br><br>

        <label for="nome">Quantidade:</label>
        <input type="text" name="quant" id="quant" name ="quant" placeholder="Quantidade Equipamento" required><br><br>

        
        <button id="btn_atualizar" type="submit">Atualizar</button>


    </form>
</div>
    <br><br>

    <!-- <table id="equipamentos-table">
        <thead>
            <tr>
                <th>Equipamento</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table> -->

</body>
</html>