<h1>Formulário para cadastrar pagamento</h1>
<form action="/add-pagamento" method="POST">

<label>Id da consulta correspondente:</label>
<input type="text" name="id_agendamento"><br><br>

<label>Data do pagamento:</label>
<input type="date" name="data_pagamento"><br><br>

<label>Tipo do pagamento:</label>
<INPUT TYPE="radio" NAME="tipo_pagamento" VALUE="Pix" > Pix
<INPUT TYPE="radio" NAME="tipo_pagamento" VALUE="Cartão de crédito"> Cartão de Crédito
<INPUT TYPE="radio" NAME="tipo_pagamento" VALUE="Boleto"> Boleto <br><br>

<label>Valor do pagamento:</label>
<input type="text" name="valor_pagamento"><br><br>

<label>Pagamento com o plano de saúde?</label>
<INPUT TYPE="radio" NAME="possui_plano" VALUE="Sim" > Sim
<INPUT TYPE="radio" NAME="possui_plano" VALUE="Não"> Não<br><br>

<button type="submit">Cadastrar pagamento</button>


</form>