<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="../../frontend/styles/diaConsulta.css">
    <link rel="stylesheet" href="../../frontend/styles/darkMode.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <title>Cadastro de Médicos</title>
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- arquivos style -->
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/darkMode.css" rel="stylesheet">
  
    <title>Calendario</title>
  </head>
    <!-- dark mode -->
    
    <div class="toggle">
      <input id="switch" type="checkbox" name="theme">
      <label for="switch">Toggle</label>
    </div>
  
  <!-- -------- -->
  
  <body>
    <div id="container">
        <div id="header">
          <div id="monthDisplay"></div>
  
          <div>
            <button id="backButton">Voltar</button>
            <button id="nextButton">Próximo</button>
          </div>
            
        </div>
  
        <div id="weekdays">
          <div>Domingo</div>
          <div>Segunda-feira</div>
          <div>Terça-feira</div>
          <div>Quarta-feira</div>
          <div>Quinta-feira</div>
          <div>Sexta-feira</div>
          <div>Sábado</div>
        </div>
  
  
        <!-- div dinamic -->
        <div id="calendar" ></div>
  
     
    </div>
  
    <div id="newEventModal">
      <h2>Selecione um Horário: </h2>
  
      <form id="eventTitleInput" >
  
        <div>
          <input type="radio" name="tipo_pagamento" value="Pix"> 12h até 13h
        </div>
        <div>
          <input type="radio" name="tipo_pagamento" value="Cartão de crédito"> 13h até 14h
        </div>
        <div>
          <input type="radio" name="tipo_pagamento" value="Boleto"> 14h até 15h
        </div>
        <div>
          <input type="radio" name="tipo_pagamento" value="Boleto"> 15h até 16h
        </div>
        <div>
          <input type="radio" name="tipo_pagamento" value="Boleto"> 16h até 17h
        </div>
        <div>
          <input type="radio" name="tipo_pagamento" value="Boleto"> 17h até 18h
        </div>
        <div>
          <input type="radio" name="tipo_pagamento" value="Boleto"> 18h até 19h
        </div>
        <br<br>
        <button id="saveButton"> Salvar</button>
      <button id="cancelButton">Cancelar</button>
    </div>
  
    <div id="deleteEventModal">
      <h2>Evento</h2>
  
      <div id="eventText"></div><br>
  
  
      <button id="deleteButton">Deletar</button>
      <button id="closeButton">Fechar</button>
    </div>
  
    <div id="modalBackDrop"></div>
  
  
    <script src="/src/frontend/scripts/darkMode.js"></script>
    <script src="/src/frontend/scripts/main.js"></script>
    
  </body>
  </html>

</body>

</html>