<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>Dia da Consulta</title>
  </head>
  <body>
    <section class="slide" id="tab-portfolio">
      <h1>Dia da Consulta</h1>
      
    </section>
  </body>
</html>



<style>
  :root {
    font-family: "Inter", sans-serif;
  }

  :root {
    font-family: "Inter var", sans-serif;
  }

  * {
    font-family: "Inter";
    margin: 0;
    padding: 0;
  }

  h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
  }
</style>

<script>
  buttons.forEach((button) => {
  button.addEventListener("click", function () {
    const mesEscolhido = button.getAttribute("data-mes");
    const idMedicos = button.getAttribute("data-id-medicos");

    window.location.href = "/diaConsulta/" + mesEscolhido + "/" + idMedicos;
  });
});

</script>