<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="shortcut icon" href="./images/flaticon.png" type="image/x-icon">

  <link rel="stylesheet" href="../styles/indicadores.css">
  <title>Indicadores de Desempenho</title>
</head>
<body>
  <!--nav-bar-->
  <section class="part1">
    <div class="nav-bar">
      <img id="logo" src="../images/logo.svg" alt="logo">
      <div class="itens">
        <a href="#inicio">Início</a>
        <a href="#consultas">Consultas</a>
        <a href="#equipamentos">Equipamentos</a>
      </div>
    </div>
  </section>

  <!-- Indicadores -->
  <section class="indicadores-section">
    <div class="indicadores-container">
      <div class="indicador-card">
        <h3 class="indicador-title">Frequência de Horários de Consulta</h3>
        <a id="frequenciaHorariosConsultaBtn" class="indicador-button" href="/frequenciaHorariosConsulta">Ver Detalhes</a>
      </div>
      <div class="indicador-card">
        <h3 class="indicador-title">Pacientes com Alergias</h3>
        <a id="pacientesAlergiasBtn" class="indicador-button" href="/pacientesAlergias">Ver Detalhes</a>
      </div>
      <div class="indicador-card">
        <h3 class="indicador-title">Tipo de Pagamento Mais Frequente</h3>
        <a id="pagamentoTipoMaisFrequenteBtn" class="indicador-button" href="/pagamentoTipoMaisFrequente">Ver Detalhes</a>
      </div>
      <div class="indicador-card">
        <h3 class="indicador-title">Pagamentos com Plano</h3>
        <a id="pagamentosComPlanoBtn" class="indicador-button" href="/pagamentosComPlano">Ver Detalhes</a>
      </div>
      <div class="indicador-card">
        <h3 class="indicador-title">Pagamento Mais Usado</h3>
        <a id="pagamentoMaisUsadoBtn" class="indicador-button" href="/pagamentoMaisUsado">Ver Detalhes</a>
      </div>
    </div>
  </section>
</body>
</html>
