<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <link rel="stylesheet" href="../styles/paginaMedico.css">
  <title>MedHelp - Médicos</title>
</head>
<body>


  <!--nav-bar-->
  <section class="part1"></section>

  <div class="nav-bar">
    <img id="logo" src="../images/logo.svg" alt="logo">
    <div class="itens">
      <a href="#inicio">Início</a>
      <a href="#consultas">Consultas</a>
      <a href="#equipamentos">Equipamentos</a>
    </div>
  
  </div>
</div>
  </section>
  <!--Fim nav-bar-->

  
  <!--Início container 01 -->

  <section class="primeiro-container"></section>
  <div class="container01">
    <div class="column1">
      <div class="text2">
        <div class="melhordegestao">
          <h1>Curando Vidas, <br> Transformando Destinos
        </div><br>
        <p> Com coragem e dedicação, vocês são a luz que guia a cura. O mundo agradece pelo seu dom de salvar vidas. Seu comprometimento em ajudar os outros é uma fonte de inspiração para todos nós.Sua vocação é nobre e digna de todo reconhecimento e gratidão.<br>Obrigado!</p>
      </div>
      <br>
    </div>
    <div class="column1">
      <img id="img01" src="../images/imagemmulher.png" alt="Imagem">
    </div>
  </div>
  </section>

  <!--Fim container 01 -->


  <!-- Container 02 - Acesso às paginas -->
  <section class="segundo-container">

    <div class="headline01">
      <div class="titulo">
        <h1>Serviços</h1>
      </div>
      <div class="linha">
        <img src="../frontend/images/Rectangle 5.png">
      </div>
    </div>
    
    <div class="container02">
        <button> <a href="#">
      <div class="column2" >
        <img src="../frontend/images/gestaofinanceira.png">
        <h3>Consultas</h3>
        <p>Explore suas consultas marcadas. Clique aqui para mais informações. </p>
      </a></button>
      </div>

        <button> <a href="listarEquipamentos.ejs">
      <div class="column2">        
        <img src="../frontend/images/gestaofinanceira.png">
        <h3>Estoque</h3>
        <p>Acesse os equipamentos disponíveis. Clique aqui para mais detalhes. </p>
      </div>
    </a></button>
    </div>
    </div>

  </section>



  <!--Fim do container 02-->
</body>
</html>