<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="shortcut icon" href="./images/flaticon.png" type="image/x-icon">

  <link rel="stylesheet" href="../styles/paginaMedico.css">
  <title>MedHelp - Médicos</title>
</head>
<body>
  <!--nav-bar-->
  <section class="part1"></section>

  <div class="nav-bar">
    <img id="logo" src="../images/logo.svg" alt="logo">
    <div class="itens">
      <a href="#inicio">Início</a>
      <a href="#consultas">Consultas</a>
      <a href="#equipamentos">Equipamentos</a>
    </div>
  </div>
</div>
  </section>
  <!--Fim nav-bar-->

  
  <!--Início container 01 -->

  <section class="primeiro-container"></section>
  <div class="container01">
    <div class="column1">
      <div class="text2">
        <div class="melhordegestao">
          <h1>Curando Vidas, <br> Transformando Destinos
        </div><br>
        <p>Com dedicação e comprometimento, vocês são peças-chave para o bem-estar e cuidado de nossos pacientes. Seu trabalho é valioso e digno de reconhecimento.<br>Obrigado por fazerem a diferença!</p>
      </div>
      <br>
    </div>
    <div class="column1">
      <img id="img01" src="../images/imagemmulher.png" alt="Imagem">
    </div>
  </div>
  </section>

  <!--Fim container 01 -->


  <!-- Container 02 - Acesso às paginas -->
  <section class="segundo-container">

    <div class="headline01">
      <div class="titulo">
        <h1>Serviços</h1>
      </div>
      <div class="linha">
        <img src="../images/Rectangle5.png">
      </div>
    </div>

    <div class="container02">
      <div class="column2">        
          <h3>Cadastre novos médicos</h3>
          <p>Clique aqui para cadastrar novos médicos.</p>
          <button id= "cadastroBtn">Acessar</button>
      </div>

      <div class="column2">        
        <h3>Atualize o Estoque</h3>
        <p>Clique aqui para atualizar os equipamentos.</p>
        <button id= "estoqueBtn">Acessar</button>
      </div>

      <div class="column2">        
        <h3>Registrar Pagamento</h3>
        <p>Clique aqui para registrar os pagamentos.</p>
        <button id= "pagamentoBtn">Acessar</button>
      </div>
    </div>
  </section>

  <!--Fim do container 02-->
</body>
</html>


<script>


// Selecionar os botões de acesso
const cadastroBtn = document.getElementById("cadastroBtn");
const estoqueBtn = document.getElementById("estoqueBtn");
const pagamentoBtn = document.getElementById("pagamentoBtn");

// Adicionar um ouvinte de evento de clique aos botões
cadastroBtn.addEventListener("click", function () {
  // Redirecionar o médico para a página consultasMedico.ejs
  window.location.href = "/cadastroMedicos";
});

estoqueBtn.addEventListener("click", function () {
  // Redirecionar o médico para a página listarEquipamentos.ejs
  window.location.href = "/atualizarEstoque";
});

pagamentoBtn.addEventListener("click", function () {
  // Redirecionar o médico para a página listarEquipamentos.ejs
  window.location.href = "/consultasFuncionario";
});

</script>
