<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="shortcut icon" href="./images/flaticon.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/paginaMedico.css">
  <title>MedHelp - Pacientes</title>
</head>
<body>
  <!--nav-bar-->

  
  <div class="nav-bar">
    <img id="logo" src="../images/logo.svg" alt="logo">
    <div class="itens">
      <a href="#inicio">Início</a>
      <a href="#consultas">Consulta</a>
      <a href="#prontuario">Prontuário</a>
    </div>
  </div>
  <section class="part1"></section>


  </section>
  <!--Fim nav-bar-->

  
  <!--Início container 01 -->

  <section class="primeiro-container"></section>
  <div class="container01">
    <div class="column1">
      <div class="text2">
        <div class="melhordegestao">
          <h1>Seja bem-vindo! <br> 
        </div><br>
        <p> Estamos felizes em tê-lo(a) aqui. Explore nossos serviços personalizados para atender todas as suas necessidades<br>Obrigado!</p>
      </div>
      <br>
    </div>
    <div class="column1">
      <img id="img01" src="../images/imagemmulher.png" alt="Imagem">
    </div>
  </div>
  </section>

  <!--Fim container 01 -->


  <!-- Container 02 - Acesso às paginas -->
  <section class="segundo-container">

    <div class="headline01">
      <div class="titulo">
        <h1>Serviços</h1>
      </div>
      <div class="linha">
        <img src="../images/Rectangle5.png">
      </div>
    </div>
    
    <div class="container02">
      <div class="column2" >
        <h3>Agendamento</h3>
        <p>Clique aqui para agendar suas consultas.</p>
        <button id="agendarBtn">Agendar</button>
      </div>
        
      <div class="column2">        
        <h3>Acessar meu Prontuário</h3>
        <p>Clique aqui para acessar e editar o prontuário.</p>
        <button id= "prontBtn">Acessar</button>
      </div>

      <div class="column2">        
        <h3>Acessar minhas Consultas</h3>
        <p>Clique aqui para acessar suas consultas.</p>
        <button id= "consultBtn">Acessar</button>
      </div>
    </div>

  </section>
  <!--Fim do container 02-->
</body>
</html>

<script>
  const idPaciente = "<%= id_paciente %>";
  // Selecionar o botão de agendar
  const agendarBtn = document.getElementById("agendarBtn");
  const prontBtn = document.getElementById("prontBtn");
  const consultBtn = document.getElementById("consultBtn");

  // Adicionar um ouvinte de evento de clique ao botão
  agendarBtn.addEventListener("click", function () {
    // Redirecionar o usuário para a página listarMedicos.ejs
    window.location.href = "/listarMedicos/" + idPaciente;
  });
  prontBtn.addEventListener("click", function () {
    // Redirecionar o usuário para a página listarMedicos.ejs
    window.location.href = "/editarProntuario/" + idPaciente;
  });

  consultBtn.addEventListener("click", function () {
    // Redirecionar o usuário para a página listarMedicos.ejs
    window.location.href = "/consultasAgendadas/" + idPaciente;
  });

</script>
