<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <link rel="stylesheet" href="../styles/paginaMedico.css">
  <title>MedHelp - Pacientes</title>
</head>
<body>


  <!--nav-bar-->
  <section class="part1"></section>

  <div class="nav-bar">
    <img id="logo" src="../images/logo.svg" alt="logo">
    <div class="itens">
      <a href="#inicio">Início</a>
      <a href="#consultas">Consulta</a>
      <a href="#equipamentos">Pronturário</a>
    </div>
  
  </div>
</div>
  </section>
  <!--Fim nav-bar-->

  
  <!--Início container 01 -->

  <section class="primeiro-container"></section>
  <div class="container01">
    <div class="column1">
      <div class="text2">
        <div class="melhordegestao">
          <h1>Seja bem-vindo! <br> 
        </div><br>
        <p> Estamos felizes em tê-lo(a) aqui. Explore nossos serviços personalizados para atender todas as suas necessidades<br>Obrigado!</p>
      </div>
      <br>
    </div>
    <div class="column1">
      <img id="img01" src="../images/imagemmulher.png" alt="Imagem">
    </div>
  </div>
  </section>

  <!--Fim container 01 -->


  <!-- Container 02 - Acesso às paginas -->
  <section class="segundo-container">

    <div class="headline01">
      <div class="titulo">
        <h1>Serviços</h1>
      </div>
      <div class="linha">
        <img src="../images/Rectangle5.png">
      </div>
    </div>
    
    <div class="container02">
      <div class="column2" >
        <h3>Agendamento</h3>
        <p>Clique aqui para agendar suas consultas.</p>
      </div>
        
      <div class="column2">        
        <h3>Acessar meu Prontuário</h3>
        <p>Clique aqui para acessar suas consultas.</p>
      </div>
    </div>

  </section>



  <!--Fim do container 02-->
</body>
</html>