<h1>Formulário para cadastrar medicos</h1>
<form action="add_medicos" method="POST">

    <label>Nome</label>
    <input type="text" name="nome_medico"><br><br>

    <label>Email</label>
    <input type="text" name="email_medico"><br><br>

    <label>Especialidade</label>
    <input type="text" name="especialidade_medico"><br><br>

    <label>Telefone</label>
    <input type="text" name="telefone_medico"><br><br>

    <label>UF</label>
    <input type="text" name="uf_medico"><br><br>

    <label>CRM</label>
    <input type="text" name="crm_medico"><br><br>

    <label>Situação</label>
    <input type="text" name="situacao_medico"><br><br>

    <button type="submit">Cadastrar</button>
</form>