  /* Adicione o CSS fornecido aqui */
  html {
    --body-color: #FFFCFF;
    --header-color: #49A2EB;
    --header-button: #1437aa;
    --color-weekdays: #000000;
    --box-shadow: #CBD4C2;
    --hover: #e8faed;
    --current-day: #e8f4fa;
    --event-color: #FFFCFF;
    --modal-event: #e8f4fa;
    --color-day: white;
  }

  body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: var(--body-color);
  }

  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #EBEFF3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
  }


  #header {
    padding: 10px;
    color: var(--header-color);
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }

  #header button {
    background-color: var(--header-button);
  }

  #container {
    width: 770px;
  }

  #weekdays {
    width: 100%;
    display: flex;
    color: var(--color-weekdays);
  }

  #weekdays div {
    width: 100px;
    padding: 10px;
  }

  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-day);
    margin: 5px;
    box-shadow: 0px 0px 3px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15%;
  }

  .day:hover {
    background-color: var(--hover);
  }

  .day+#currentDay {
    background-color: var(--current-day);
  }

  .event {
    font-size: 10px;
    padding: 3px;
    background-color: var(--event-color);
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }

  .padding {
    cursor: default !important;
    background-color: var(--body-color) !important;
    box-shadow: none !important;
  }

  #newEventModal,
  #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #FFFCFF;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }

  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }

  #eventTitleInput.error {
    border: 2px solid red;
  }

  #cancelButton,
  #deleteButton {
    background-color: var(--header-color);
  }

  #saveButton,
  #closeButton {
    background-color: var(--header-button);
  }

  #eventText {
    font-size: 14px;
  }

  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .radio-group label {
    display: flex;
    align-items: center;
  }

  .radio-group input[type="radio"] {
    margin-right: 5px;
  }

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    left: -50px;
  }

  label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
  }
#confirmButton{
  background-color: #fff;
  color:#000000;
}
  input:checked+label {
    background-color: rgb(142, 142, 240);
  }

  input:checked+label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 45px;
  }

  #backButton,
  #nextButton {
    display: none;
  }
  h1{
    display: flex;
    text-align: center;
  }
   
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      visibility: hidden;
    }

    .overlay.active {
      visibility: visible;
    }

    .overlay-content {
      background-color: white;
      padding: 20px;
      text-align: center;
    }
